/* ABOUT */

.about {
  padding: 100px 20px;

  background:
    linear-gradient(
      180deg,
      #ffffff,
      #f8fafc
    );
}

.about-container {
  max-width: 1200px;

  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 70px;

  flex-wrap: wrap;
}

/* IMAGE */

.about-image {
  flex: 1;

  min-width: 320px;
}

.about-image img {
  width: 100%;

  border-radius: 28px;

  object-fit: cover;


  transition: 0.4s ease;
}

.about-image img:hover {
  transform: scale(1.03);
}

/* TEXT */

.about-text {
  flex: 1;

  min-width: 320px;

  display: flex;
  flex-direction: column;

  gap: 22px;
}

.about-tag {
  width: fit-content;

  padding: 8px 16px;

  border-radius: 999px;

  background: #eef2ff;

  color: #4f46e5;

  font-size: 14px;

  font-weight: 700;

  letter-spacing: 1px;
}

.about-text h2 {
  font-size: 52px;

  line-height: 1.15;

  color: #111827;

  font-weight: 800;
}

.about-text p {
  font-size: 18px;

  line-height: 1.9;

  color: #4b5563;
}

/* FEATURES */

.about-features {
  display: flex;

  gap: 18px;

  flex-wrap: wrap;

  margin-top: 10px;
}

.feature-card {
  min-width: 120px;

  padding: 20px;

  border-radius: 20px;

  background: white;


  text-align: center;

  transition: 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h3 {
  font-size: 28px;

  color: #4f46e5;

  margin-bottom: 8px;

  font-weight: 800;
}

.feature-card p {
  font-size: 15px;

  color: #6b7280;
}

/* BUTTON */

.about-btn {
  width: fit-content;

  margin-top: 10px;

  padding: 15px 28px;

  border: none;

  border-radius: 14px;

  background:
    linear-gradient(
      135deg,
      #6366f1,
      #4f46e5
    );

  color: white;

  font-size: 16px;

  font-weight: 700;

  cursor: pointer;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.about-btn:hover {
  transform: translateY(-3px);

}

/* RESPONSIVE */

@media (max-width: 992px) {

  .about-container {
    flex-direction: column;
  }

  .about-text {
    text-align: center;

    align-items: center;
  }

  .about-text h2 {
    font-size: 40px;
  }

  .about-features {
    justify-content: center;
  }
}

/* MOBILE */

@media (max-width: 600px) {

  .about {
    padding: 70px 20px;
  }

  .about-text h2 {
    font-size: 32px;
  }

  .about-text p {
    font-size: 16px;
  }

  .feature-card {
    width: 100%;
  }

  .about-btn {
    width: 100%;
  }
}